// Custom styles.
// background-image:url(/images/background.jpg);
body {
    background-image: ;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}
.main-inner {
    opacity: 0.85;
}
